<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWplTU5Zr4t3rP715L5rmDaGhOQgXKmX0</string>
	<key>GCM_SENDER_ID</key>
	<string>808493454507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mycodeservice</string>
	<key>PROJECT_ID</key>
	<string>mycodeservice-516e1</string>
	<key>STORAGE_BUCKET</key>
	<string>mycodeservice-516e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808493454507:ios:1626e24a3e42155e2213ee</string>
</dict>
</plist>